/*.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}*/

.navbar-brand
{
	font-family: 'Lobster', cursive;
	font-size: 40px
}

.navbar-li
{
	font-family: 'Dancing+Script', cursive;
	font-size: 30px
}

h2,h3
{
	font-family: 'Dancing+Script'
}

p,.amenities-list
{
	font-family: 'Open Sans', cursive;
	font-size: 25px
}

section { margin-top: 30px; padding-top: 10px; border-top: 1px ; }

/*section:first-of-type { border-top: 0; padding-top: 0; }*/